body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.header--main{
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header--logo{
  height: 100%;
}

.header--title{
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: auto;
}

.header--text{
  font-size: 1rem;
  line-height: 2px;
  overflow-x: auto;
}

.meme--main{
  max-width: 100%;
  padding: 20px;
  height: fit-content;
}

.meme--form{
  margin-top: 50px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.meme--input{
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #d5d4d8;
  padding: 20px 10px;
  font-family: "Karla", sans-serif;
  text-indent: 5px;
}

.meme--btn{
  max-width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #d5d4d8;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--Img{
  padding-top: 20px;
  width: 600px;
  max-width: 100%;
  height: 500px;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  border: 12px solid black;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 20px;
}

.top {
  top: 25px;
}


/* another */

.usestate--main{
  padding: 20px;
  margin-top: 100px;
  height: 250px;
  background-color: bisque;
  display: flex;
  align-items: center;
}

.usestate--btn{
  margin: auto;
  height: 200px;
  width: 200px;
  padding: 30px;
  border-radius: 50%;
  background: linear-gradient(600deg, #802222 1.18%, #d32626 100%);
}

.usestate--text{
  font-weight: bold;
  font-size: 30px;
  margin-top: 45px;

}

.things--main{
  padding: 50px;
  margin-top: 100px;
  height: fit-content;
  background-color: bisque;
}

.things--btn{
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
  margin: auto;
  height: 80px;
  width: 200px;
  padding: 28px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(60deg, #223380 1.18%, #265dd3 100%);
}

/*third info cards useState on object */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  width: 25px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

.box--challenges{
  width:100%;
  height: fit-content;
  margin: 20px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* form handling with use state react */
.form{
  display: flex;
  align-items: center;
}

input[type="text"], input[type="email"] {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.75rem;
}

textarea {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;   
  cursor: pointer; 
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
}
